.conteiner{
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;

}

.conteiner section{
  display: flex;
  flex-direction: row;
}

.image-title {
  box-shadow: 1px 2px lightgray;
  border-radius: 10px;
}
.title{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1;
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  margin-top: 24px;
}

.title h1{
  margin: 10px 60px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.title img{
  width: 250px;
}

.gerar-receita{
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 1px 2px lightgray ;
}

.gerar-receita button{
  background-color: rgb(66, 88, 214);
  font-size: 21px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: blueviolet;
  display:  block;
  margin: auto;
  margin-top: 10px;
  border: none;
  width: 180px;
  height: 70px;
  border-radius: 50px;
  cursor: pointer;
}

.gerar-receita p{
  margin: 24px;
  font-size: 21px;
  text-align: center;
}

.btn button:hover{
  background-color: rgb(37, 51, 129);
}

.historico{
  margin: auto;
  margin: 50px 80px;
}

.historico h2{
  margin: auto;
  font-family: "Oswald";
  font-size: 24px;
  margin-bottom: 20px;
}

.historico img{
  box-shadow: 1px 2px lightgray;
  border-radius: 10px;
}
