@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* body{
  background-image: url(https://archives.bulbagarden.net/media/upload/3/34/0978Tatsugiri.png);
} */

.ingredient-adder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  margin-top: 15vh;
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
  max-width: 35rem;
}

.ingredient-adder h1 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin-bottom: 10px;
}

.ingredients-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.ingredients-list li {
  width: 98%;
  border: 1px solid rgb(213, 203, 203);
  border-radius: 3px;
  max-height: 38px;
  padding-left: 10px;
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: auto;
  font-family: 'Lato', sans-serif;
  color: rgb(66, 66, 66);
}

.remove-button {
  margin-right: 8px;
  padding: 8px;
  font-size: 12px;
  background-color: #fa1f0c;
  color: white;
  border: none;
  border-radius: 3px; 
  cursor: pointer; 
  background-color: #fa1f0c;
  margin-bottom: 1.2rem;
  width: 30px;
}

.remove-button:hover {
  transition: background-color 0.3s ease;
  background-color: #fb5237;
}

.ingredient-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.ingredient-input input {
  flex: 1;
  padding: 12px;
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  margin-right: 5px;
  background-color: white;
  border: 1px solid #c2c2c2;
  font-family: 'Lato', sans-serif;
}

.ingredient-input button {
  padding: 4px;
  background-color: #007bff;
  margin-bottom: .4rem;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 30px;
  font-size: 20px;
}

.ingredient-input button:hover {
  transition: background-color 0.3s ease;
  background-color: #00a2ff;
}

.nome-campo{
  font-weight: bold;
  width: 100%;
  font-size: large;
  font-family: 'Poppins', sans-serif;
}

.borda {
  width: 100%;
  margin-top: 1rem;
}

.button-toggle {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 5px;
}

.button {
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  background-color: rgb(236, 236, 236);
  color: rgb(70, 70, 70);
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  border-radius: 3px;
  margin-right: 5px;
  margin-left: 5px;
  font-family: 'Lato', sans-serif;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
}

.button.active {
  background-color: rgb(74, 20, 140); 
  color: white; 
}

.button-toggle {
  margin: 20px auto;
  width: 100%; 
}

.button-toggle select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}



label{
  margin-top: 40px;
  width: 95%;
}

.option-select {
  margin: 20px auto;
  width: 100%; 
}

.option-select select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  margin-left: 0rem;
  margin-right: auto;
}

.actions .btnCancelar, .actions .btnGerar {
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions .btnCancelar {
  background-color: #ff4d4d;
  color: white;
  margin-right: 26rem;
}

.actions .btnCancelar:hover {
  background-color: #ff1a1a;
}

.actions .btnGerar {
  background-color: #4CAF50;
  color: white;
}

.actions .btnGerar:hover {
  background-color: #45a049;
}